<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <h2>用户注册</h2>
    <form>
        <table>
            <tr>
                <td>用户名:</td>
                <td><label>
                    <input type="text" v-model="username" placeholder="请输入用户名">
                </label></td>
            </tr>
            <tr>
                <td>个人简介:</td>
                <td><label>
                    <textarea v-model="profile" placeholder="请输入个人简介"></textarea>
                </label></td>
            </tr>
            <tr>
                <td>性别:</td>
                <td>
                    <label>
                        <input type="radio" value="男" v-model="sex">
                        男
                    </label>
                    <label>
                        <input type="radio" value="女" v-model="sex">
                        女
                    </label>
                </td>
            </tr>
            <tr>
                <td>爱好：</td>
                <td>
                    <label v-for="(item, index) in hobbyArray" :key="index">
                        <input type="checkbox" value="item" v-model="hobbies">{{item}}
                    </label>
                </td>
            </tr>
            <tr>
                <td style="color: cornflowerblue">对爱好进行快捷操作</td>
                <td>
                    <input type="button" value="全选" @click="selectAll">
                    <input type="button" value="全不选" @click="unselectAll">
                    <input type="button" value="反选" @click="toggleAll">
                </td>
            </tr>
            <tr>
                <td>所在地:</td>
                <td>
                    <label>
                        <select v-model="location">
                            <option value="">请选择</option>
                            <option value="太原">太原</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>你擅长的技术:</td>
                <td>
                    <label>
                        <select multiple v-model="skills">
                            <option value="Java">Java</option>
                            <option value="前端Vue">前端Vue</option>
                            <option value="PHP">PHP</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>感兴趣的职位：</td>
                <td>
                    <table>
                        <tr>
                            <td>可选职位</td>
                            <td></td>
                            <td>已选职位</td>
                        </tr>
                        <tr>
                            <td>
                                <select multiple="multiple" size="5" v-model="job">
                                    <option v-for="jobltem in joblist" value="jobltem">{{jobltem}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" value=">>" @click="moveToRight"><br>
                                <input type="button" value="<<" @click="moveToLeft">
                            </td>
                            <td>
                                <select multiple="multiple" size="5" v-model="myjob">
                                    <option v-for="myjobitem in myjoblist" :value="myjobitem">{{myjobitem}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="提交" @click.prevent="display">
                    <input type="reset" value="重置" @click="reset">
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            hobbyArray: ['编程', '词读', '运动', '音乐', '游戏'],
            username: '',
            profile: '',
            sex: '',
            hobbies: [],
            location: '',
            skills: [],
            position: [],
            joblist: ['Java工程师', '前端工程师', '数据分析师', '全栈工程师', '系统架构师'], // 所有职位列表
            myjoblist: [], // 已选职位列表
            job: [], // 可选职位列表中选中的选项
            myjob: [] // 已选职位列表中选中的选项
        },
        methods: {
            display: function() {
                alert(JSON.stringify(this.$data));
            },
            selectAll: function() {
                this.hobbies = ['编程', '词读', '运动', '音乐', '游戏'];
            },
            // 全部不选
            unselectAll: function() {
                this.hobbies = [];
            },
            // 反选所有未选中的爱好
            toggleAll: function() {
                // 获取所有的选项
                let options = document.querySelectorAll('input[type="checkbox"]');
                // 遍历每个选项
                for(let option of options) {
                    // 反选所有未选中的选项
                    if(!option.checked) {
                        option.checked = true;
                        this.hobbies.push(option.value);
                    } else {
                        // 取消先前选中的选项
                        option.checked = false;
                        let index = this.hobbies.indexOf(option.value);
                        if(index !== -1) {
                            this.hobbies.splice(index, 1);
                        }
                    }
                }
            },
            moveToRight() {
                this.job.forEach((item) => {
                    this.myjoblist.push(item)
                    this.joblist.splice(this.joblist.indexOf(item), 1)
                })
                this.job = []
            },
            moveToLeft() {
                this.myjob.forEach((item) => {
                    this.joblist.push(item)
                    this.myjoblist.splice(this.myjoblist.indexOf(item), 1)
                })
                this.myjob = []
            },
            reset: function() {
                this.joblist = ['Java工程师', '前端工程师', '数据分析师', '全栈工程师', '系统架构师'];
                this.myjoblist = [];
                this.job = [];
                this.myjob = [];
            },
        },
    });
</script>
</body>
</html>
